<div class="topbar">
	<div>
		<a href="{{base}}index.html">Yonder Tech</a>
		<a href="{{base}}automation/index.html">Automation</a>
		<a href="#">Global (EN)</a>
	</div>
	<div>Login</div>
</div>

<header>
	<a class="logo" href="{{base}}index.html">
		<div>
			<div class="logo-text">Yonder.</div>
		</div>
	</a>

	<nav>
		<a href="{{base}}index.html">Home</a>
		<a href="{{base}}insights/index.html">Insights</a>
		<a href="{{base}}about/index.html">About</a>
		<a href="{{base}}cases/index.html">Case Library</a>
	</nav>

	<div class="search"><i class="fa fa-search" aria-hidden="true"></i></div>
</header>
