<div class="topbar">
	<div>
		<a href="{{base}}index.html" data-no-spa>Yonder Tech</a>
		<a href="{{base}}automation/index.html">Automation</a>
		<a href="{{base}}en/index.html" data-no-spa>Global (EN)</a>
	</div>
	<div>Login</div>
</div>

<header>
	<a class="logo" href="{{base}}index.html" data-no-spa>
		<div>
			<div class="logo-text">Yonder.</div>
		</div>
	</a>

	<nav>
		<a href="{{base}}index.html" data-no-spa>Home</a>
		<a href="{{base}}services/index.html">Services</a>
		<a href="{{base}}insights/index.html">Insights</a>
		<a href="{{base}}about/index.html">About</a>
		<a href="{{base}}cases/index.html">Case Library</a>
	</nav>

	<div class="search"><i class="fa fa-search" aria-hidden="true"></i></div>
</header>
