<div class="topbar">
	<div>
		<a href="{{base}}index.html">Yonder Tech</a>
		<a href="{{base}}contact/index.html">Contact</a>
	</div>
	<div>China Offshore - Outside China ▾</div>
</div>

<header>
	<a class="logo" href="{{base}}index.html">
		<div>
			<div class="logo-text">Yonder.</div>
			<div class="logo-sub">Yonder</div>
		</div>
	</a>

	<nav>
		<a href="{{base}}index.html">Home</a>
		<a href="{{base}}about/index.html">About</a>
		<a href="{{base}}services/index.html">Services</a>
		<a href="{{base}}cases/index.html">Case Library</a>
		<a href="{{base}}contact/index.html">Contact</a>
	</nav>

	<div class="search"><i class="fa fa-search" aria-hidden="true"></i></div>
</header>
